body {
    background-color: #3e3d3e;
    color: white;
    text-align: center;
    background-image: url("black-wall-texture_1194-6486.jpg");
}

h1 {
    font-family: didot;
    font-size: 50px;
    color: #ba2828;
}

span.highlight {
      
        color: #ba2828;
}

span.mark {
    background-color: black;
    color: #ba2828;
}
    

h2 {
    font-family: arial, black;
    font-size: 40px;
    letter-spacing: 10px;
}

h3 { 
    font-family: didot;
    font-size: 40px;
    color: #ba2828;   
}

ol {
    list-style-type: none;
    font-family: arial, black;
    letter-spacing: 5px;
    text-align: left;
    font-size: 40px;
    color: #ba2828;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
    margin-right: 150px;
    margin-left: 80px;
    line-height: 1.8;
}

.sidenav {
  height: 100%;
  width: 300px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #696767;
  overflow-x: hidden; 
  padding-top: 20px;
}
.sidenav a {
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 30px;
  color: #ba2828;
  display: block;
}
.sidenav a:hover {
    color: white;
    }

/* Style page content */
.main {
  margin-left: 300px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

h3.rv {
    font-family: didot;
    margin: 5px;
}

h4.rv {
    margin: 10px;
    font-family: didot;
    font-size: 32px;
    color: #ba2828; 
    line-height: 1;
}

p.rv {
    font-family: didot;
    font-size: 20px;
    color: white;
    text-align: left;
    line-height: 0.9;
}

ol.song-list {
    list-style-position: inside;
    font-family: arial, black;
    letter-spacing: 5px;
    font-size: 35px;
    color: #ba2828;
}

